<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Update these with your own images <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Hire Me</li>
            <li>
              <a href="http://id.linkedin.com/pub/hendri-firmana/21/b3/75b">
              <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View hendri firmana's profile on LinkedIn"></a>
            </li>
            <li>
              <a href="https://www.odesk.com/users/~~bcb3855732509664"><img alt="oDesk Certified Ruby on Rails Programmer" src="https://www.odesk.com/api/exams/v1/5142013/image" /></a>
            </li>
            <li>
              <a href="https://www.odesk.com/users/~~bcb3855732509664"><img alt="oDesk Certified Ruby on Rails Developer" src="https://www.odesk.com/api/exams/v1/5166912/image" /></a>
            </li>
            <li>
              <a href="https://www.odesk.com/users/~~bcb3855732509664"><img alt="oDesk Certified jQuery Professional" src="https://www.odesk.com/api/exams/v1/5168850/image" /></a>
            </li>
            <li class="nav-header">Javascript Documentation</li>
            <li><a href='https://developer.mozilla.org/en/JavaScript' title='Learn JS'><img src='http://static.jsconf.us/promotejsv.gif' height='180' width='160' alt='Learn JS'/></a></li>            
          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">
        <div class="hero-unit">
          <div class="content">
            {{ content }}
          </div>
          </div>
      </div>    
    </div> <!-- /container -->
  </div>

    {% include JB/analytics %}
  </body>
</html>
